<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Taller</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
     <ion-card-title class="ion-padding">{{ ( taller | async )?.nombre }}</ion-card-title>
     <ion-card-content>
        <p>Hora: {{ ( taller | async )?.hora | date:'hh:mm a' }}</p>
        <p>Experto: {{ ( taller | async )?.experto }}</p>
     </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-xs="12" size-md="6">
          <ion-button color="primary" expand="block" (click)="abrirAlertPaciente()">
            Agregar paciente
          </ion-button>
        </ion-col>

        <ion-col size="6" size-xs="12" size-md="6">
          <ion-button color="primary" expand="block">
            Agregar comentarios
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
