<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2 class="ion-padding">Listado de Talleres</h2>
    <ion-card *ngFor="let t of taller | async " routerLink="/detalle-taller/{{ t.id }}">
      <ion-card-header>
        {{ t.nombre }}
      </ion-card-header>
      <ion-card-content>
          <ion-chip color="warning">Hora: {{ t.hora | date:'h:mm a' }}</ion-chip>
          <ion-chip color="danger">Experto: {{ t.experto }}</ion-chip>
          <ion-chip color="success">Precio: {{ t.precio | currency }}</ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
